@import "~bootstrap/scss/bootstrap";
 /*
  You should divide CSS by topics,
  for example: typography, elements, helpers
  take a look at bootstraps css
  otherwise css is getting to big and is not maintainable
 */
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h1 {
  background-color: green;
}

.container {
  background-color: lightblue;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  max-width: 100%;
  height: auto;
}

.transparent {
  opacity: 0.5;
}


p.b {
  font-style: italic;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

nav.c {
  color: white;
}

li {
  font-style: oblique;
  padding-top: 15px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.navbar{
  background:transparent;
}

.img {
  width: 400px;
  height: 210px;
}

.line {
  line-height: 30px;
}

.margin {
  margin-top: 15px;
  padding-top: 30px;
}

p {
  padding-top: 15px;;
}
